/*======================
    TABLE OF CONTENTS
======================*/

/*==================
    GENERAL RULES
===================*/

section,
footer {
    padding: 50px 0;
}

.container {
    position: relative;
}

.img_container {
    width: calc(100% / 6 - 5px);
    display: inline-block;
    padding-right: 15px;
}

i {
    color: white;
}

img {
    width: 100%;
}

.m_top_40{
    margin-top: 40px;
}

.m_top_20 {
    margin-top: 20px;
}

.pad_bottom_40 {
    padding-bottom: 20px;
}

.img_box {
    width: 50px;
}

ul {
    list-style: none;
    margin-bottom: 0;
}
/* Typography */

h1,
h2 {
    font-weight: bold;
}

h2,
.deploy .row h4 {
   color: #0f2756;
}

h1 {
    color: white;
    font-size: 50px;
}

h4 {
    color: #aec3ff;
    font-weight: bold
}

.text_white {
    color: white;
}

.text_grey {
    color: #7f8aa3;
}

.text_blue {
    color: #031c4e
}

.bg_grey {
    background-color: #f3f5f9;
}

.bg_blue {
    background-color: #0b70ff;
}

.font_weight_bolder {
    font-weight: bolder;
}


.glyphicon-chevron-left,
.glyphicon-chevron-right {
    font-size: 30px;
}

.glyphicon-chevron-right {
    color: #0f2756;
}

.glyphicon-chevron-left {
    color: #7f8aa3;
}

.btn_custom {
    color: #0b70ff;
    font-weight: bold;
    padding: 6px 20px;
    background-color: white;
    border-radius: 4px;
    position: relative;
}

/*===========
    HEADER
============*/

nav  * {
    vertical-align: middle;
    display: inline-block;

}

.brand {
    max-width: 175px;
}

nav a {
    margin: 15px 0;
    padding: 5px 0 5px 15px;
    color: #0f2756;
}


nav ul:last-of-type,
.hamburger {
    position: absolute;
    right: 15px;
    margin-top: 5px;
}

nav .btn_custom {
    padding: 5px;
    font-weight: lighter;
    border: 1px solid #0b70ff;
    margin-left: 10px
}

.hamburger {
    font-size: 25px;
    color: #0b70ff;
    margin-top: 25px;
    display: none;
}

/*===========
   .1 MAIN
============*/

/* customers */

.hero {
    background-image: url(img/bg-banner-home.jpg);
    background-position: center;
    background-size: cover;
}

.hero .form-group > * {
    margin: 7px 0;
}

.form-control_custom_height {
    height: 45px;
}

.g_icon {
    display: inline-block;
    width: 20px;
    position: absolute;
    left: 6px;

}

.text_ocean_color,
.hero small > a,
.hero .panel h2:last-of-type {
    color: #0b70ff;
    font-weight: bolder;
}

.panel_custom {
    margin: 0;
}


.btn_custom {
    box-shadow: 0 1px 1px 0 lightgrey;
}

/* .2 Customers */

.customers h4 {
    color: #7f8aa3;
}

.customers span{
    vertical-align: middle;
    padding-left: 10px;
}

/* Deploy */

.deploy .list {
    border-left: 2px solid lightgray;
    padding-left: 5px;
}

.deploy li {
    padding: 10px;
}

.deploy a {
    font-size: 20px;
}

.deploy a, 
.deploy h5 {
    color:#75809a;
}


/*  Carosel */


.carosel .slide_container {
    max-width: 500px;
    display: inline-block;
    background-color: white;
    border-radius: 4px;
}

.rockerbox {
    padding: 50px;
    margin-bottom: 10px;
}

.carosel .box {
    margin-top: 75px;
    position: relative;
}

.carosel .arrow {
    display: inline-block;
    vertical-align: middle;
}

.second span {
    transform: translateY(-75px);
}

.carosel h5 {
    color: #0f2756;
}

.carosel h5:first-of-type {
    font-weight: bold;
}


.slide_title {
    max-width: 200px;
}

.tobenamed {
    padding-top: 20px;
    font-weight: bold;
    color: #0b70ff;
}

.carosel .bullet {
    display: inline-block;
    padding-right: 5px;
    height: 15px;
    width: 15px;
    border: 1px solid #0b70ff;
    border-radius: 50%;
}

/* Features */

.features h4 {
    color: #0f2756
}

.features h5 {
    color:#75809a;
    font-weight: bold
}

.features span{
    vertical-align: middle;
    padding-left: 10px;
}

/* Regions */

.regions {
    background-image: linear-gradient(#0042bb, #00209b)
}

.regions a {
    color: #00cfd1;
}

.regions table tr:first-of-type > td {
    border-top: none;
}

.regions table td:nth-of-type(2) {
    color: #aec3ff;
}

.regions table td:last-of-type {
    text-align: right;
}

.regions span{
    line-height: 15px;
    vertical-align: middle;
    padding-left: 10px;
}

/* Getstarted */

.getstarted {
    background-image: linear-gradient(#0042bb, #00209b);
}



/*===========
    FOOTER
============*/

footer {
    background-color: #031c4e;
}

footer .row {
    display: inline-block;
}

footer h4 {
    color: #47577a;
    font-weight: normal;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    font-weight: bold;
    padding: 5px;
}
footer li:first-of-type {
    font-size: larger;
}

footer a {
    color: #7f8aa3;    
}

footer .social span {
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid white;
}

/* Squalo */

.squalo {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 30px 50px;
}

.baloon {
    max-width: 375px;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    position: relative;
}

.baloon p {
    margin: 0;
}

#triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #ffffff;
    position: absolute;
    top: 70%;
    right: -20px;
    transform: translate(-50%, -50%);
}

.squalo > .img_box {
    height: 65px;
    width: 65px;
    border-radius: 5px;
    padding-top: 5px;
    position: relative;
    margin-bottom: 10px;
}

.squalo .unread {
    position: absolute;
    top: -10px;
    right: -10px;
    display: inline-block;
    padding: 2px 7px;
    border-radius: 50%;
    background-color: red;
    border: 4px solid white;
}
/*================
   MEDIA-QUERIES
=================*/

/* MD */

@media screen and (min-width: 992px) {
    .table_container {
        float: left;
        width: calc(50% - 20px);
        margin-right: 20px;
        padding-right: 10px;
    }

    .squalo > * {
        float: right;
        margin-left: 15px;
    }
}


/* XS,SM */

@media screen and (max-width: 991px) {
    
    .carosel .box {
        margin: 150px 0
    }

    footer ul {
        margin: 20px 0;
    }

    .squalo {
        position: fixed;
        bottom: 0;
        left: 0;
    }

    nav ul {
        display: none;
    }

    nav .hamburger {
        display: block;
    }
}

/* XS */

@media screen and (max-width: 767px) {

    .img_container {
        width: calc(50% - 5px)
    }

    .m_top_20 {
        margin-top: 0;
    }
}
