/*======================
    TABLE OF CONTENTS
======================*/

/*==================
    GENERAL RULES
===================*/

section {
    padding: 50px 0;
    border: 1px solid black;
}

.img_container {
    width: calc(100% / 6 - 5px);
    display: inline-block;
    padding-right: 15px;
}

img {
    width: 100%;
}

.m_top_40{
    margin-top: 40px;
}

.m_top_20 {
    margin-top: 20px;
}

/* Typography */

h1,
h2 {
    font-weight: bold;
}

h2,
.deploy .row h4 {
   color: #0f2756;
}

h1 {
    color: white;
    font-size: 50px;
}

h4 {
    color: #aec3ff;
    font-weight: bolder
}

.text_white {
    color: white;
}

.text_grey {
    color: #7f8aa3;
}

.bg_grey {
    background-color: #f3f5f9;
}

.font_weight_bolder {
    font-weight: bolder;
}


.glyphicon-chevron-left,
.glyphicon-chevron-right {
    font-size: 30px;
}

.glyphicon-chevron-right {
    color: #0f2756;

}

.glyphicon-chevron-left {
    color: #7f8aa3;
}


/*===========
    HEADER
============*/

/*===========
   .1 MAIN
============*/

/* Hero */

.hero {
    background-image: url(img/bg-banner-home.jpg);
    background-position: center;
    background-size: cover;
}

.hero .form-group > * {
    margin: 7px 0;
}

.text_ocean_color,
.hero small > a,
.hero .panel h2:last-of-type {
    color: #0b70ff;
    font-weight: bolder;
}

.panel_custom {
    margin: 0;
}


.btn_custom {
    box-shadow: 0 1px 1px 0 lightgrey;
}

/* .2 Customers */

.customers h4 {
    color: #7f8aa3;
}

/* Deploy */

.deploy .list {
    border-left: 2px solid lightgray;
    padding-left: 5px;
}

.deploy li {
    padding: 10px;
}

.deploy a {
    font-size: 20px;
}

.deploy a, 
.deploy h5 {
    color:#75809a;
}

.img_box {
    width: 50px;
}

/*  Carosel */

.box {
    /* max-width: 50%; */
}

.carosel [class*="col-"]{
    vertical-align: middle;
}


/*===========
    FOOTER
============*/


/*================
   MEDIA-QUERIES
=================*/


@media screen and (max-width: 767px) {

    .img_container {
        width: calc(50% - 5px)
    }

    .m_top_20 {
        margin-top: 0;
    }
}


