/*======================
TABLE OF CONTENTS
======================*/

/*==================
GENERAL RULES
===================*/

/*===========
    HEADER
============*/


/*===========
    FOOTER
============*/
h1,
h2 {
    font-weight: bold;
}

h1 {
    color: white;
    font-size: 50px;
}

h4 {
    color: #aec3ff;
    font-weight: bolder
}

.text_white {
    color: white;
}

.bg_grey {
    background-color: #f3f5f9;
}

.btn_custom {
    box-shadow: 0 1px 1px 0 lightgrey;
}

section {
    padding: 50px 0;
    border: 1px solid black;
}

.img_container {
    max-width: 150px;
}


/*===========
   .1 MAIN
============*/

/* Hero */

.hero {
    background-image: url(img/bg-banner-home.jpg);
    background-position: center;
    background-size: cover;
}

.hero .form-group > * {
    margin: 7px 0;
}

.text_ocean_color,
.hero small > a,
.hero .panel h2:last-of-type {
    color: #0b70ff;
    font-weight: bolder;
}

.panel_custom {
    margin: 0;
}

/* .2 Customers */

