/*======================
    TABLE OF CONTENTS
======================*/

/*==================
    GENERAL RULES
===================*/

/*===========
    HEADER
============*/

/*===========
    MAIN
============*/

/*===========
    FOOTER
============*/


.navbar_custom {
    background-color: transparent;
    border: none;
}

.ciao {
    background-image: url(img/global.svg);
}

.img_container {
    max-width: 150px;
}

section:not(.jumbotron) {
    padding: 50px 0;
    border: 1px solid black;
}

.grey {
    background-color: #f3f5f9;
}